*{
    margin: 0;
    padding: 0;
}
body{
    background: url("image/fon2.jpg");
}
.page-layout{
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    background: #00FFFF;
}
#nav{
    background-color: #00FFFF;
    height: 46px;
    width: 900px;
    margin: 0 auto;
}
#nav li{
    list-style: none;
    float: left;
    width: 150px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background: #444;
    display: block;
    margin: 3px;
    padding: 10px;
    text-align: center;
}
#nav li a:hover{
    color: #444;
    background: #ccc;
}
#nav ul ul{
    display: none;
    position: absolute;
    z-index: 999;
}
#slider{
    width: 900px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
#container{
    width: 900px;
    height: 400px;
    background: #ccc;
    display: block;
    overflow: auto;
}
.back {
    width: 70px;
    height: 400px;
    background: url("image/left.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    display: block;
    z-index: 999;
    position: relative;
}
.next{
    width: 70px;
    height: 400px;
    background: url("image/right.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    display: block;
    z-index: 999;
    position: relative;
}
.images{
    width: 900px;
    height: 400px;
    overflow: hidden;
    float: left;
    position: absolute;
}
.search{
    height: 50px;
    border: 1px solid black;
    background: #008080;
}
#navVertical{
    width: 225px;
    border: 1px solid #008080;
    margin: 10px;
    background: #008080;
    float: left;
}
#navVertical ul{
    margin: 12px;
    width: 200px;
}
#navVertical li{
    list-style: none;
    width: 200px;
}
#navVertical li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background: #444;
    display: block;
    margin: 3px;
    padding: 10px;
    text-align: center;
}
#navVertical li a:hover{
    color: #444;
    background: #ccc;
}
.music{
    width: 500px;
    height: 200px;
    border: 1px solid black;

}
